protobuf==3.20.2
cloudpickle==2.2.0

efficientnet-pytorch

jsonpickle==3.0.1
keras==2.11.0

knnimpute==0.1.0
langcodes==3.3.0
libclang==14.0.6
llvmlite==0.39.1



Markdown==3.4.1

mkl-service==2.4.0


networkx==3.0

nose==1.3.7

numba==0.56.4

oauthlib==3.2.2
onnx==1.13.1
opencv-python
opencv-python-headless


pluggy==1.0.0


pyopengl


streamlit

tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0


torch
torchvision

webencodings==0.5.1
